<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="Controle Glicêmico"
        android:name="${applicationName}"
        android:icon="@drawable/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- DIAGNÓSTICO (build 9): desliga o Impeller (motor gráfico novo do Flutter
             no Android) e volta ao motor Skia. Há vários relatos abertos no
             próprio repositório do Flutter de blocos sólidos/corrompidos no lugar
             de cartões com sombra (boxShadow), específicos de certas GPUs Android
             e de aparelhos Xiaomi. Se isto corrigir a tela, o problema era esse;
             depois removemos esta linha quando o Flutter corrigir o bug, ou
             mantemos assim, já que o app não depende de nenhum recurso do Impeller. -->
        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="false" />
    </application>
</manifest>
